<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <title>Attendance | House</title>
</head>

<body class="col-8 m-auto">
  <div id="app">
    <header class="header-style">
        <div class="d-flex flex-column flex-lg-row justify-content-lg-between align-items-center align-items-lg-left col-12">
            <div class="text-center text-lg-left">
                <div class="d-flex flex-row">
                    <h2 class="fs-1 ms-5 py-2 text-white title-style">Data Insight Group</h2>
                </div>
            </div>
            <div class="text-sm-center col-md-6 ms-3">
                <div class="m-4 d-flex flex-row"> 
                    <img class="fotoMail m-2" src="./assets/mailfoto.png" alt="iconomail">
                    <a class="float-end lead" href="mailto:info@DataInsightGroup.net">info@DataInsightGroup.net</a>
                </div>
            </div>                       
        </div>
    </header>
    <nav class="navbar navbar-bg navbar-expand-xxl">
      <div class="container-fluid">
        <span class="navbar-brand text-white">Data Insigth Group</span>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link text-white py-2 mx-4 fs-4" aria-current="page" href="./index.html">Home</a>
            <li class="nav-item dropdown ">
              <a class="nav-link dropdown-toggle text-white py-2 mx-4 fs-4" href="#" id="navbarDropdown1" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Congress 113
              </a>
              <div class="dropdown-menu navbar-bg text-center fs-4" aria-labelledby="navbarDropdown1">
                <a class="dropdown-item navbar-bg" href="./senate.html">Senate</a>
                <hr class="dropdown-divider">
                <a class="dropdown-item " href="./house.html">House</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle text-danger py-2 mx-4 fs-4" href="#" id="navbarDropdown2" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Attendance
              </a>
              <div class="dropdown-menu navbar-bg text-center fs-4" aria-labelledby="navbarDropdown2">
                <a class="dropdown-item" href="./senate-attendance.html">Senate</a>
                <hr class="dropdown-divider">
                <a class="dropdown-item text-danger" href="#">House</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle text-white py-2 mx-4 fs-4" href="#" id="navbarDropdown3" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Party Loyalty
              </a>
              <div class="dropdown-menu navbar-bg text-center fs-4" aria-labelledby="navbarDropdown3">
                <a class="dropdown-item" href="./senate-party-loyalty.html">Senate</a>
                <hr class="dropdown-divider">
                <a class="dropdown-item" href="./house-party-loyalty.html">House</a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="animate__fadeIn">

    <div class="container">
        <div class="d-flex flex-column justify-content-between flex-lg-row mx-auto my-2">
            <div class="container m-2 col-lg-6 col-12">
                <h3 class="text-center">Attendance</h3>
                <p>
                    The Constitution specifies that a majority of members constitutes a quorum to do business in each house. 
                    Representatives and senators rarely force the presence of a quorum by demanding quorum calls; thus, 
                    in most cases, debates continue even if a majority is not present.

                    The Senate uses roll-call votes; a clerk calls out the names of all the senators, 
                    each senator stating "aye" or "no" when his or her name is announced. The House reserves roll-call
                    votes for the most formal matters, as a roll-call of all 435 representatives takes quite some time; 
                    normally, members vote by electronic device. In the case of a tie, the motion in question fails.
                    In the Senate, the Vice President may (if present) cast the tiebreaking vote.
                </p>
            </div>
            
            <div class="me-5 my-2 table-responsive-md col-lg-5 col-12 text-center">
                <h5 class="my-3">House at a glance</h5>
                <div v-if="members.length === 0" class="col-3 mx-auto my-5 py-2">
                  <div class="spinner-grow text-danger opacity-25" role="status">
                    <span class="visually-hidden">Loading...</span>
                  </div>
                </div>
  
              <div v-if="members.length > 0">     
                <table class="table table-hover m-2 shadow p-3 mb-5 bg-body rounded">
                    <thead class="table-danger">
                        <tr class="text-center">
                            <th>Party</th>
                            <th>No. of Reps</th>
                            <th>Votes w/ Party</th>
                        </tr>
                    </thead>
                    <tbody class="animate__slideInRight glance-house table-group-divider">
                      <tr class="text-center">
                        <td>Democrats</td> 
                        <td>{{num_dem_house}}</td>
                        <td>{{pct_dem_votes_house}} %</td>
                      </tr>
                      <tr class="text-center">
                        <td>Republicans</td> 
                        <td>{{num_rep_house}}</td>
                        <td>{{pct_rep_votes_house}} %</td>
                      </tr>
                      <tr class="text-center">
                        <td>Independents</td> 
                        <td>{{num_ind_house}}</td>
                        <td>{{pct_ind_votes_house}} %</td>
                      </tr>
                      <tr class="text-center">
                        <td>Total</td> 
                        <td>{{total_house}}</td>
                        <td>{{pct_total_house}} %</td>
                      </tr>
                    </tbody>
                </table>
              </div>
            </div>
        </div>

    <div class="d-flex flex-column justify-content-between flex-lg-row mx-auto">
        <div class="me-3 table-responsive-md col-lg-5 col-12 text-center">
            <h5 class="my-3">Least engaged (Bottom 10% Attendance)</h5>
            <div v-if="members.length === 0" class="col-3 mx-auto my-5 py-2">
              <div class="spinner-grow text-danger opacity-25" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
            </div>

          <div v-if="members.length > 0">     
            <table class="table table-hover m-2 shadow p-3 mb-5 bg-body rounded">
                <thead class="table-danger">
                    <tr class="text-center">
                        <th>Name</th>
                        <th>No. Missed Votes</th>
                        <th>% Missed</th>
                    </tr>
                </thead>
                <tbody class="animate__slideInRight least-engaged table-group-divider" v-for="member in least_engaged_house">
                  <tr class="text-center">
                    <td><a :href="member.url">{{member.last_name}}, {{member.first_name}}</a></td> 
                    <td>{{member.missed_votes}}</td>
                    <td>{{member.missed_votes_pct}}%</td>
                  </tr>
                </tbody>
            </table>
          </div>
        </div>

        <div class="me-2 table-responsive-md col-lg-5 col-12 text-center">
          <h5 class="text-center">Most engaged (Top 10% Attendance)</h5>
          <div v-if="members.length === 0" class="col-3 mx-auto my-5 py-2">
            <div class="spinner-grow text-danger opacity-25" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
          </div>

        <div v-if="members.length > 0">     
            <table class="table table-hover shadow p-3 mb-5 bg-body rounded">
                <thead class="table-danger">
                    <tr class="text-center">
                        <th>Name</th>
                        <th>No. Missed Votes</th>
                        <th>% Missed</th>
                    </tr>
                </thead>
                <tbody class="animate__slideInRight most-engaged table-group-divider" v-for="member in most_engaged_house">
                  <tr class="text-center">
                    <td><a :href="member.url">{{member.last_name}}, {{member.first_name}}</a></td> 
                    <td>{{member.missed_votes}}</td>
                    <td>{{member.missed_votes_pct}}%</td>
                  </tr>
                </tbody>
            </table>
        </div>
        </div>
    </div>

    </div>
  </div>
    <div class="row">
        <footer class="footer p-3 text-center">
            <span class="text-white lead">© 2021 Data Insight Group | All Rights Reserved</span>
        </footer>
    </div>

  </div>
    <script src="https://unpkg.com/vue@3"></script>
    <script src="./js/app.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous">
    </script>

</body>
</html>