*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#app{
    background-image: url("./assets/bg4.png.crdownload");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/*---------------- Header -----------------*/
.header-style{
    background-image: url("./assets/flag3-gif.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 20vh;
}
.header-sticky{
    position: fixed;
    top: 0;
    z-index: 1;
}
.img-logo-header{
    width: 100px;
    height: 100px;
}
.fotoMail{
    width: 30px;
    height: 25px;
    margin-bottom: 15px;
}
.navbar li:hover{
    background: rgba(248, 246, 246, 0.214);
    color: #ffffff;
}
.navbar-bg{
    background-color: rgba(1, 13, 80, 0.876);
}
.title-style{
    text-shadow: 5px 5px #01060b;
}

/*---------------- Tables Animation -----------------*/
.animate__slideInRight{
    animation-name: slideInRight;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}
@keyframes slideInRight {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

/*---------------- Pages Animation -----------------*/
.animate__fadeIn{
    animation-name: fadeIn;
    animation-duration: 1.2s;
    animation-fill-mode: forwards;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/*---------------- Footer -----------------*/
.footer{
    background-color: rgba(1, 13, 80, 0.876);
}