*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*---------------- Header -----------------*/
.header-style{
    background-image: url("./assets/usa-flag.jpg");
    background-repeat: no-repeat;
}
.img-logo-header{
    width: 100px;
    height: 100px;
}
.fotoMail{
    width: 30px;
    height: 25px;
    margin-bottom: 15px;
}
.navbar li:hover{
    background: rgba(248, 246, 246, 0.214);
    color: #ffffff;
}
.navbar-bg{
    background-color: rgba(1, 13, 80, 0.876);
}
.title-style{
    text-shadow: 5px 5px #01060b;
}


/*---------------- Footer -----------------*/
.footer{
    background-color: rgba(1, 13, 80, 0.876);
}